
@font-face {
  font-family: 'skaterdudes';
  src: url('skaterdudes.eot?#iefix') format('embedded-opentype'),  url('skaterdudes.woff') format('woff'), url('skaterdudes.ttf')  format('truetype'), url('skaterdudes.svg#skaterdudes') format('svg');
  font-weight: normal;
  font-style: normal;
}
